{% assign activated = true %}
{% assign sale_type = "percentage" %}

{%- if activated -%}
<div class="dbtfy dbtfy-discount_saved" id="debutify-hacks">
  <div id="DiscountSaved">
    {% for variant in product.variants %}
      {% capture discount_saved %}
        {% if sale_type == "amount" %}
          {{ variant.compare_at_price | minus: variant.price | money_without_trailing_zeros }}
        {% elsif sale_type == "percentage" %}
          {{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price }}%
        {% endif %}
      {% endcapture %}
      {% if variant.compare_at_price > variant.price %}
      <span style="display:none;" class="number-discount_saved discount_saved-{{ variant.id }}">{{ "products.general.save_html" | t: saved_amount: discount_saved }}</span>
      {% endif %}
    {% endfor %}
  </div>
</div>
{%- endif -%}