<div class="dbtfy dbtfy-trust_badge">
  <div id="TrustBadge" class="text-under-trust_badge">
    <div class="container-trust_badge text-center">
        <div class="image-wrapper-trust_badge">
          <img class="image-trust_badge ls-is-cached lazyloaded" src="//cdn.shopify.com/s/files/1/0284/3154/8450/files/simple_trust_badge-02_600x.png?v=1589241363" srcset="//cdn.shopify.com/s/files/1/0284/3154/8450/files/simple_trust_badge-02_600x.png?v=1589241363 1x, //cdn.shopify.com/s/files/1/0284/3154/8450/files/simple_trust_badge-02_600x@2x.png?v=1589241363 2x" alt="">
    </div>
  </div>
    <br>
</div>
